<div
  id="snippet-3"
  class="absolute inset-0 overflow-hidden -z-10 h-full w-full bg-white flex justify-center bg-[linear-gradient(to_right,#EAEAEA_1px,transparent_1px),linear-gradient(to_bottom,#EAEAEA_1px,transparent_1px)] bg-[size:100px_100px]"
>
  <div
    class="absolute -top-[400px] size-[800px] bg-cover bg-[#CAECF1] rounded-full blur-3xl"
  >
  </div>
</div>
