<div
  id="snippet-2"
  class="absolute inset-0 overflow-hidden -z-10 h-full w-full bg-white flex justify-center items-center"
>
  <div
    class="-z-10 absolute size-[500px] -left-[200px] -top-[200px] bg-[#AA85FE] blur-[200px]"
  >
  </div>
  <div
    class="-z-10 absolute size-[500px] -right-[200px] -bottom-[200px] bg-[#AA85FE] blur-[200px]"
  >
  </div>
</div>
