<div
  id="snippet-3"
  class="-z-10 inset-0 absolute bottom-0 left-0 right-0 top-0"
>
  <div
    class="absolute inset-0 bg-gradient-to-br from-[#AA85FE] via-transparent to-[#855BFA] blur-[150px] opacity-50"
  >
  </div>
  <div
    class="absolute inset-0 bg-gradient-to-br from-[#AA85FE] via-transparent to-[#855BFA] blur-[2''px] opacity-50"
  >
  </div>
</div>
