<div
  id="snippet-9"
  class="-z-10 absolute top-0 bottom-0 min-h-screen w-full bg-white bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-slate-100 via-purple-100 to-purple-800"
>
</div>
