<div
  id="snippet-1"
  class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#EAEAEA_1px,transparent_1px),linear-gradient(to_bottom,#EAEAEA_1px,transparent_1px)] bg-[size:100px_100px]"
>
</div>
