<div
  id="snippet-2"
  class="-z-10 inset-0 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_left,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_top,#4f4f4f2e_1px,transparent_1px)] bg-[size:150px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_50%,transparent_120%)]"
>
</div>
