---
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import X from "../components/icons/X.astro";
import GitHub from "../components/icons/GitHub.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout
  title="TailTint - Beautiful TailWindCSS BackGrounds."
  description="Easy copy and paste backgrounds using TailwindCSS."
>
  <main>
    <header class="w-full max-w-5xl flex gap-3 justify-end items-center py-5">
      <div class="flex gap-3">
        <button class="reset"
          ><Button variant="outline">Clean Background</Button></button
        >
        <a
          href="https://github.com/gonzalochale/tailtint"
          target="_blank"
          class="border text-background bg-foreground p-2 rounded-md hover:bg-foreground/80"
          aria-label="GitHub Repository"
        >
          <GitHub />
          <span class="sr-only">GitHub Repository</span>
        </a>
        <a
          href="https://twitter.com/gonzalochale"
          target="_blank"
          class="border text-background bg-foreground p-2 rounded-md hover:bg-foreground/80"
          aria-label="Twitter"
        >
          <X />
          <span class="sr-only">GitHub Repository</span>
        </a>
      </div>
    </header>
    <Hero />
    <Grid />
    <footer class="py-5">
      Made by <a
        href="https://twitter.com/gonzalochale"
        target="_blank"
        class="text-secondary hover:underline hover:text-primary"
        >Gonzalo Chalé</a
      >
       Inspired by <a
        href="https://www.ibelick.com/"
        target="_blank"
        class="text-secondary hover:underline hover:text-primary">Ibelick</a
      >
    </footer>
  </main>
</Layout>

<style></style>
