---
import Preview from "./icons/Preview.astro";
import Copy from "./icons/Copy.astro";

interface Props {
  id: number;
  snippet: any;
}

const { snippet: Snippet, id } = Astro.props;
---

<div
  class="relative rounded-md shadow-md flex flex-col justify-start items-center min-h-[300px] min-w-[300px] w-full overflow-hidden backdrop-blur-3xl border border-border bg-white"
>
  <div class="flex gap-3 items-start justify-end w-full h-full p-5">
    <button
      data-snippet-id=`snippet-${id}`
      class="handleBackground border border-border bg-white p-2 sm:p-1 rounded-md"
    >
      <Preview />
    </button>
    <button
      data-snippet-id=`snippet-${id}`
      class="handleCopy border border-border bg-white p-2 sm:p-1 rounded-md"
    >
      <Copy />
    </button>
  </div>
  <Snippet id={`snippet-${id}`} />

  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const buttons = document.querySelectorAll("button.handleBackground");
      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const snippetId = (button as HTMLElement).dataset.snippetId;
          const snippet = document.getElementById(snippetId);
          const snippetContainer = document.getElementById("snippetContainer");
          if (snippet && snippetContainer) {
            snippetContainer.innerHTML = snippet.outerHTML;
          }
        });
      });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const buttons = document.querySelectorAll("button.handleCopy");
      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const snippetId = (button as HTMLElement).dataset.snippetId;
          const snippet = document.getElementById(snippetId);
          if (snippet) {
            navigator.clipboard
              .writeText(snippet.outerHTML)
              .then(() => {
                console.log("Copiado al portapapeles");
              })
              .catch((err) => {
                console.log("Error al copiar al portapapeles: ", err);
              });
          }
        });
      });
    });
  </script>
</div>
