---
import Button from "./Button.astro";

interface Props {
  id: number;
  snippet: any;
  copyButton: string;
  previewButon: string;
}

const { snippet: Snippet, copyButton, previewButon, id } = Astro.props;
---

<div
  class="relative rounded-md shadow-sm p-4 flex flex-col justify-between items-center min-h-[300px] min-w-[300px] w-full overflow-hidden backdrop-blur-3xl border border-border"
>
  <div class="flex gap-3 items-start justify-end w-full">
    <button data-snippet-id=`snippet-${id}` class="handleBackground">
      <Button>
        {previewButon}
      </Button>
    </button>
    <button>
      <Button variant="outline">
        {copyButton}
      </Button>
    </button>
  </div>
  <Snippet id={`snippet-${id}`} />
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const buttons = document.querySelectorAll("button.handleBackground");
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const snippetId = (button as HTMLElement).dataset.snippetId;
        const snippet = document.getElementById(snippetId);
        const snippetContainer = document.getElementById("snippetContainer");
        if (snippet && snippetContainer) {
          snippetContainer.innerHTML = snippet.outerHTML;
        }
      });
    });
  });
</script>
