---
import Preview from "./icons/Preview.astro";
import Copy from "./icons/Copy.astro";

interface Props {
  id: number;
  snippet: any;
}

const { snippet: Snippet, id } = Astro.props;
---

<div
  class="relative rounded-md shadow-md flex flex-col justify-start items-center min-h-[300px] min-w-[300px] w-full overflow-hidden backdrop-blur-3xl border border-border bg-white"
>
  <div class="flex gap-3 items-start justify-end w-full h-full p-5">
    <button
      data-snippet-id=`snippet-${id}`
      class="handleBackground border border-border bg-white p-2 sm:p-1 rounded-md"
    >
      <Preview />
    </button>
    <button
      data-snippet-id=`snippet-${id}`
      class="handleCopy border border-border bg-white p-2 sm:p-1 rounded-md"
    >
      <Copy />
    </button>
  </div>
  <Snippet id={`snippet-${id}`} />

  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const buttons = document.querySelectorAll("button.handleBackground");
      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const snippetId = (button as HTMLElement).dataset.snippetId;
          const snippet = document.getElementById(snippetId);
          const snippetContainer = document.getElementById("snippetContainer");
          if (snippet && snippetContainer) {
            snippetContainer.innerHTML = snippet.outerHTML;
          }
        });
      });
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const buttons = document.querySelectorAll("button.handleCopy");
      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          const snippetId = (button as HTMLElement).dataset.snippetId;
          const snippet = document.getElementById(snippetId);

          if (snippet) {
            navigator.clipboard
              .writeText(snippet.outerHTML)
              .then(() => {
                console.log("Copiado al portapapeles");
                button.innerHTML = `<svg width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>`;
                setTimeout(() => {
                  button.innerHTML = `<svg width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M11.667 6c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 2 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968zm-4 6.5c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 1.975 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968z" ></path></svg`;
                }, 1000);
              })
              .catch((err) => {
                console.log("Error al copiar al portapapeles: ", err);
              });
          }
        });
      });
    });
  </script>
</div>
