---
import Card from "./Card.astro";
import Background1 from "./backgrounds/Background1.astro";
import Background2 from "./backgrounds/Background2.astro";
import Background3 from "./backgrounds/Background3.astro";
import Background4 from "./backgrounds/Background4.astro";
const data = [
  {
    id: 1,
    snippet: Background1,
  },
  {
    id: 2,
    snippet: Background2,
  },
  {
    id: 3,
    snippet: Background3,
  },
  {
    id: 4,
    snippet: Background4,
  },
];
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 place-items-center w-full max-w-5xl gap-10 pb-24"
>
  {
    data.map((item) => (
      <Card
        id={item.id}
        snippet={item.snippet}
        copyButton="Copy"
        previewButon="Preview"
      />
    ))
  }
</section>
