---

---

<section
  class="w-full max-w-3xl flex flex-col gap-3 justify-center items-center py-24"
>
  <h1
    class="text-7xl font-medium text-center tracking-tight bg-gradient-to-b from-foreground via-transparent to-foreground bg-clip-text text-foreground/80"
  >
    Welcome to TailTint
  </h1>
  <h2 class="text-xl font-medium text-center text-foreground/80">
    Elevate your web design with TailTint, where TailWindCSS meets simplicity
    for beautiful backgrounds
  </h2>
</section>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const buttons = document.querySelectorAll("button.reset");
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        const snippetContainer = document.getElementById("snippetContainer");
        if (snippetContainer) {
          snippetContainer.innerHTML = null;
        }
      });
    });
  });
</script>
